<p><strong>MOBILE APPLICATION TERMS OF USE</strong>
</p>
<p>PLEASE READ THIS MOBILE APPLICATION TERMS OF USE AGREEMENT (&quot;AGREEMENT&quot;) CAREFULLY BEFORE DOWNLOADING, INSTALLING, OR USING GOLO GOD LOVES (&ldquo;GOLO GOD LOVES&rdquo;), MOBILE APPLICATION (&ldquo;APPLICATION&rdquo;). BY DOWNLOADING, INSTALLING, OR USING THE APPLICATION YOU ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTAND THIS AGREEMENT, AND THAT YOU AGREE TO BE BOUND BY ITS TERMS AND CONDITIONS.
</p>
<p>This Agreement sets forth the terms of use for the Application. GOLO GOD LOVES reserves the right to change, modify, add, or remove portions of this Agreement at any time. Such changes, revisions or modifications shall be effective immediately upon notice to you, which may be given by any means including, without limitation, via posting within the &ldquo;MY ACCOUNT&rdquo; section of the Application. Your continued use of the Application after such notice shall be deemed to constitute acceptance of such changes, revisions or modifications.
</p>
<p><strong>LICENSE; SCOPE OF USE</strong>
</p>
<p>Subject to the terms and conditions of this Agreement, GOLO GOD LOVES grants you a limited, non-transferable, revocable license to view, use and download a single copy of the Application for your informational, personal, non-commercial use (the &ldquo;License&rdquo;) on any device that you own or control and as permitted by the Usage Rules set forth in the Apple App Store Terms and Conditions and/or any other mobile application store including, without limitation, Google pay for android platforms (the &ldquo;Usage Rules&rdquo;). The License does not allow you to use the Application on any device that you do not own or control, and you may not distribute or make the Application available over a network where it could be used by multiple devices at the same time. You may not rent, lease, lend, sell, redistribute or sublicense the Application. You may not copy (except as expressly permitted, if at all, by this Agreement and the Usage Rules), decompile, reverse engineer, disassemble, attempt to derive the source code of, modify, or create derivative works of the Application, any updates, or any part thereof (except as and only to the extent any foregoing restriction is prohibited by applicable law).
</p>
<p><strong>YOU AGREE TO COMPLY WITH ALL LAWS, RULES AND REGULATIONS APPLICABLE TO YOUR USE OF THE APPLICATION.</strong>
</p>
<p>
<br />
&nbsp;
</p>
<p><strong>TRADEMARKS</strong>
</p>
<p>&quot;GOLO GOD LOVES Marks&quot; means all trademarks, service marks and other commercial symbols used in connection with GOLO GOD LOVES&#39;s or its affiliates&#39; business. All GOLO GOD LOVES Marks are the exclusive property of GOLO GOD LOVES, its affiliates or third-party licensors. This Agreement does not authorize you to use any GOLO GOD LOVES Mark, and you agree not to use any GOLO GOD LOVES Mark in any manner without the prior written consent of GOLO GOD LOVES, which consent may be withheld in the sole discretion of GOLO GOD LOVES. Unauthorized use of any GOLO GOD LOVES Mark may be a violation of federal and state trademark laws.
</p>
<p><strong>COPYRIGHT</strong>
</p>
<p>The Application is protected by U.S. copyright laws and international treaties. All materials contained in the Application are the copyrighted property of GOLO GOD LOVES or its affiliates or third-party licensors. Except for your informational, personal, non-commercial use as authorized above, you may not use, modify, reproduce, distribute, transmit, republish or display the content, design or layout of the Application, or any components thereof, without the express written permission of GOLO GOD LOVES.
</p>
<p><strong>LINKS TO THIRD PARTY WEBSITES</strong>
</p>
<p>The Application may contain links to other websites that provide services related to the Application (such as payment processing services and university information) or that you may find useful and informative. Also, the Application may utilize social networking sites. These other websites are not under the control of GOLO GOD LOVES, and you acknowledge and agree that GOLO GOD LOVES is not responsible for the accuracy, copyright compliance, legality, decency, or any other aspect of such websites. The inclusion of such a link does not imply endorsement of the website by GOLO GOD LOVES or any association with its operators, and GOLO GOD LOVES disclaims all liability with respect to such linked websites, including but not limited to your access to and/or use of the same.
</p>
<p><strong>THIRD PARTY SERVICE PROVIDERS</strong>
</p>
<p>In addition, the Application may use third party authorized service providers to provide GOLO GOD LOVES with services related to your use of the Application, including payment processing services, if any, and facility information. By downloading, installing and using the Application, you acknowledge and agree that any reservations, purchases or other arrangements you make through the Application, and any interactions you have with any such authorized providers of the Application&rsquo;s operation and functionality, will be subject to and treated in accordance with the terms of use and privacy policies of such authorized service providers, which policies may be available to you by such third parties. GOLO GOD LOVES strongly urges you to review all such policies before making any reservations, purchases or other arrangements through the Application or otherwise interacting with a third party service provider. GOLO GOD LOVES disclaims any and all liability relating to third party service providers and their services.
</p>
<p><strong>YOUR PROVISION OF PERSONAL INFORMATION TO GOLO GOD LOVES</strong>
</p>
<p>When you provide information about yourself to GOLO GOD LOVES, you agree to: (a) provide accurate, current, and complete information about yourself; and (b) maintain and promptly update such information to keep it accurate, current and complete. If you provide any information that is untrue, inaccurate, or incomplete, or GOLO GOD LOVES has reasonable grounds to suspect that such information is untrue, inaccurate, or incomplete, GOLO GOD LOVES has the right to suspend or terminate any account you establish in connection with your use of the Application and refuse any and all current or future use of the Application or any portion thereof.
</p>
<p><strong>USER CONTENT ON THE APPLICATION</strong>
</p>
<p>You understand that all information, data, or other materials that are posted on or transmitted in connection with the Application by you or another user (&quot;User Content&quot;) are the sole responsibility of the person from whom such User Content originated. This means that you, and not GOLO GOD LOVES, are responsible for all User Content that you upload, post, email, transmit or otherwise make available in connection with the Application. GOLO GOD LOVES does not control the User Content posted and, as such, does not guarantee the accuracy, integrity or quality of such User Content. You understand that by using the Application, you may be exposed to User Content that is inaccurate, disingenuous, offensive, indecent or objectionable. Under no circumstances will GOLO GOD LOVES be liable in any way for any User Content, including, but not limited to, for any errors or omissions in any User Content, or for any loss or damage of any kind incurred as a result of the use of any User Content posted, emailed, transmitted or otherwise made available in connection with the Application.
</p>
<p><strong>YOUR CONDUCT</strong>
</p>
<p>In connection with your use of the Application, you agree not to:
</p>
<p>1. Upload, download, copy, post, email, transmit or otherwise make available any User Content that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of another&#39;s privacy, hateful, or racially, ethnically or otherwise objectionable; or harms minors in any way;
<br />
<br />
2. Impersonate any person or entity, or falsely state or otherwise misrepresent your affiliation with a person or entity;
<br />
<br />
3. Forge headers or otherwise manipulate identifiers in order to disguise the origin of any User Content transmitted in connection with the Application;
<br />
<br />
4. Upload, download, copy, post, email, transmit or otherwise make available any User Content that you do not have a right to make available under any law or under contractual or fiduciary relationships (such as inside information, or proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);
<br />
<br />
5. Upload, download, copy, post, email, transmit or otherwise make available any User Content that infringes any patent, trademark, trade secret, copyright, right of publicity, or other proprietary right of any party;
<br />
<br />
6. Upload, download, copy, post, email, transmit or otherwise make available any unsolicited or unauthorized advertising, promotional materials, &quot;junk mail,&quot; &quot;spam,&quot; &quot;chain letters,&quot; &quot;pyramid schemes,&quot; or any other form of solicitation;
<br />
<br />
7. Upload, download, copy, post, email, transmit or otherwise make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;
<br />
<br />
8. Interfere with or disrupt the operation of the Application or servers or networks connected to the Application, or disobey any requirements, procedures, policies or regulations of networks connected to the Application; or
<br />
<br />
9. Collect, copy, transmit, or store personal data about other users. Although GOLO GOD LOVES does not pre-screen User Content, GOLO GOD LOVES has the right, but not the obligation, to delete or move any User Content for any reason. Without limiting the foregoing, GOLO GOD LOVES has the right to remove any User Content that violates this Agreement.
<br />
<br />
&nbsp;
</p>
<p><strong>YOUR GRANT OF LIMITED LICENSE</strong>
</p>
<p>By posting or submitting User Content to the Application, you grant GOLO GOD LOVES and its affiliates the right to use, reproduce, display, perform, adapt, modify, distribute, have distributed, and promote the User Content in any form, anywhere and for any purpose, subject to GOLO GOD LOVES&#39;s Privacy Policy. You represent and warrant that you own or otherwise control all rights in and to any such User Content, and that public posting and use of your User Content by GOLO GOD LOVES will not infringe or violate the rights of any third party.
</p>
<p><strong>REGISTRATION AND PASSWORDS</strong>
</p>
<p>The Application may permit or require you to register or obtain a password prior to permitting access to certain products or services available through the Application. You acknowledge and agree that you are responsible for maintaining the confidentiality of your registration information and password, and for all uses of your password.
</p>
<p><strong>DISCLAIMER OF WARRANTIES</strong>
</p>
<p>THE APPLICATION AND ALL MATERIALS, INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE APPLICATION ARE PROVIDED &quot;AS IS&quot; AND &quot;AS AVAILABLE&quot; FOR YOUR USE. THE APPLICATION AND ALL MATERIALS, INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE APPLICATION ARE PROVIDED WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NONINFRINGEMENT. GOLO GOD LOVES AND ITS AFFILIATES DO NOT WARRANT THAT THE MATERIALS, INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE APPLICATION ARE ACCURATE, RELIABLE OR CORRECT; THAT THE APPLICATION WILL BE AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED; OR THAT THE APPLICATION IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. YOUR USE OF THE APPLICATION IS AT YOUR SOLE RISK. BECAUSE SOME JURISDICTIONS DO NOT PERMIT THE EXCLUSION OF CERTAIN WARRANTIES, THESE EXCLUSIONS MAY NOT APPLY TO YOU.
</p>
<p><strong>LIMITATION OF LIABILITY</strong>
</p>
<p>UNDER NO CIRCUMSTANCES SHALL GOLO GOD LOVES OR ITS AFFILIATES BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF, OR INABILITY TO USE, THE APPLICATION. THIS LIMITATION APPLIES WHETHER THE ALLEGED LIABILITY IS BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY, OR OTHER LEGAL THEORY, EVEN IF GOLO GOD LOVES HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN THE EVENT SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, GOLO GOD LOVES&#39;S LIABILITY IN SUCH JURISDICTIONS SHALL BE LIMITED TO THE EXTENT PERMITTED BY LAW. TO THE EXTENT, IF ANY, THAT YOU MAKE ANY CLAIM WITH REGARD TO THE APPLICATION OR YOUR USE OF THE APPLICATION, SUCH CLAIM SHALL BE MADE AGAINST GOLO GOD LOVES AND NOT AGAINST APPLE.
</p>
<p><strong>NO MEDICAL ADVICE.</strong>
</p>
<p>GOLO GOD LOVES DOES NOT MAKE ANY REPRESENTATIONS OR WARRANTIES REGARDING THE INFORMATION OR MATERIALS PRESENTED ON THIS APPLICATION. THE APPLICATION SHOULD NOT BE RELIED UPON OR SUBSTITUTED FOR MEDICAL ADVICE, TREATMENT OR DIAGNOSIS. PLEASE CONSULT YOUR PHYSICIAN BEFORE USING OR BEGINNING ANY EXERCISE PROGRAM OR TECHNIQUE. GOLO GOD LOVES DOES NOT ADVISE THAT YOU SHOULD UNDERTAKE ANY PARTICULAR EXERCISE OR UTILIZE ANY PARTICULAR FACILITY PRESENTED ON THIS APPLICATION. GOLO GOD LOVES SHALL NOT BE LIABLE AND YOU AGREE NOT TO HOLD GOLO GOD LOVES LIABLE FOR ANY INJURY, HOWEVER CAUSED AND IN WHATEVER FORM, RELATED TO USE OF THE APPLICATION OR ANY FACILITY.
</p>
<p><strong>RELIANCE ON ANY INFORMATION OR MATERIALS PRESENTED ON THIS APPLICATION IS SOLELY AT YOUR OWN RISK. YOU UNDERSTAND, ACKNOWLEDGE, AND AGREE THAT GOLO GOD LOVES SHALL NOT BE LIABLE FOR ANY CLAIMS FOR INJURY, LOSS OR DAMAGES ARISING OUT OF OR CONNECTED WITH YOUR USE OF ANY FACILITY.</strong>
</p>
<p>YOU UNDERSTAND, ACKNOWLEDGE, AND AGREE THAT GOLO GOD LOVES SHALL NOT BE LIABLE FOR ANY CLAIMS FOR INJURY, LOSS OR DAMAGES ARISING OUT OF OR RELATED TO YOUR USE OF THE APPLICATION AND/OR FACILITY INCLUDING, WITHOUT LIMITATION, TO DIRECT, COMPENSATORY, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES. THE NEGATION AND LIMITATION OF DAMAGES SET FORTH IN THIS AGREEMENT ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN GOLO GOD LOVES AND YOU. THIS SITE AND THE CONTENT THEREIN WOULD NOT BE PROVIDED WITHOUT SUCH LIMITATIONS. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM US THROUGH THE SITE OR OTHERWISE SHALL CREATE ANY WARRANTY, REPRESENTATION OR GUARANTEE NOT EXPRESSLY STATED IN THIS AGREEMENT.
</p>
<p>YOU UNDERSTAND, ACKNOWLEDGE, AND AGREE THAT GOLO GOD LOVES AND AFFILIATED PARTIES SHALL NOT BE LIABLE FOR ANY LOSS, INJURY, CLAIM, OR DAMAGE OF ANY KIND RESULTING IN ANY WAY FROM (A) ANY ERRORS IN OR OMISSIONS FROM THE SITE OR ANY SERVICES OR PRODUCTS OBTAINABLE THEREFROM, (B) THE UNAVAILABILITY OR INTERRUPTION OF THE APPLICATION AND/OR FACILITY OR ANY FEATURES THEREOF, (C) YOUR USE OF THE SITE AND/OR ACCOUNT INFORMATION INCLUDING USER/LOG IN NAME AND PASSWORD, (D) THE CONTENT CONTAINED ON THE SITE, OR (E) ANY DELAY OR FAILURE IN PERFORMANCE BEYOND THE CONTROL OF A COVERED PARTY.
</p>
<p><strong>INDEMNIFICATION</strong>
</p>
<p>You agree to defend, indemnify and hold harmless GOLO GOD LOVES, its affiliates, and their respective employees, contractors, agents, officers, and directors from all liabilities, claims, and expenses (including reasonable attorneys&#39; fees) that arise out of or are related to any User Content you submit, post, transmit or make available through the Application, your violation of this Agreement, or your violation of any third party rights.
</p>
<p><strong>CHOICE OF LAW AND JURISDICTION</strong>
</p>
<p>This Agreement shall be governed by the laws of the State of Illinois without regard to the conflicts of laws rules of any jurisdiction. Every dispute concerning the interpretation or effect of this Agreement and/or your use of the Application must be resolved in the state or federal courts situated in the State of Illinois. You agree to the personal jurisdiction, subject matter jurisdiction, and venue of these courts.
</p>
<p><strong>EQUITABLE RELIEF</strong>
</p>
<p>You acknowledge that any breach or threatened breach of this Agreement will result in irreparable harm for which damages would not be an adequate remedy, and, therefore, in addition to its rights and remedies otherwise available at law, GOLO GOD LOVES shall be entitled to seek immediate equitable relief, including injunctive relief, as appropriate. If GOLO GOD LOVES seeks any equitable remedies, it shall not be precluded or prevented from seeking remedies at law, nor shall it be deemed to have made an election of remedies.
</p>
<p><strong>ATTORNEYS&#39; FEES</strong>
</p>
<p>In addition to any other relief, the prevailing party in any action arising out of this Agreement shall be entitled to actual and reasonable attorneys&#39; fees and costs.
</p>
<p><strong>SEVERABILITY</strong>
</p>
<p>If any provision of this Agreement is held unenforceable or invalid under any applicable law or is so held by applicable court decision, such unenforceability or invalidity will not render this Agreement unenforceable or invalid as a whole, and such provision will be changed and interpreted so as to best accomplish the objectives of such unenforceable or invalid provision within the limits of applicable law or the applicable court decisions.
</p>
<p><strong>WAIVER</strong>
</p>
<p>Any waiver by GOLO GOD LOVES of a breach of any provision of this Agreement shall not operate as or be construed to be a waiver of any other breach of such provision or of any breach of any other provision of this Agreement. Any waiver must be in writing. Failure by GOLO GOD LOVES to insist upon strict adherence to any term of this Agreement on one or more occasions shall not be considered a waiver or deprive GOLO GOD LOVES of the right to insist upon strict adherence to that term or any other term of this Agreement.
</p>
<p><strong>TERMINATION</strong>
</p>
<p>GOLO GOD LOVES reserves the right, in its sole discretion, to terminate your access to all or part of the Application, with or without notice, for any reason or no reason, including without limitation your violation of this Agreement.
</p>
<p><strong>QUESTIONS</strong>
</p>
<p>If you have any questions about this Agreement, you can contact us at the following email address: info@GOLOGodLoves.com
</p>
<p><strong>MOBILE APPLICATION PRIVACY POLICY</strong>
</p>
<p>GOLO GOD LOVES (&quot;GOLO GOD LOVES,&quot; &ldquo;we,&rdquo; &ldquo;our&rdquo; or &ldquo;us&rdquo;) has created this statement to describe its information gathering and privacy practices related to your use of the mobile application offered as &ldquo;GOLO GOD LOVES&rdquo; (&ldquo;Application&rdquo;). We are sensitive to the private nature of information you provide to us over the Internet and through your use of the Application. This mobile application privacy policy (&ldquo;Mobile Privacy Policy&rdquo;) is designed to maximize your ability to protect your personal information, while at the same time permit us to provide you the opportunity to obtain interesting and useful information, products and services. Because this Mobile Privacy Policy applies to any person who downloads, installs, or uses the Application, we strongly urge you to review this Mobile Privacy Policy in its entirety. By downloading, installing, or using the Application, you accept and agree to be bound by this Mobile Privacy Policy and any other applicable terms, and you consent to the processing of your information as set forth in this Mobile Privacy Policy.
</p>
<p><strong>OUR COLLECTION OF YOUR INFORMATION</strong>
</p>
<p>We or our authorized service providers may collect and store some or all of the following information, in order to enable you to use the Application and receive information, products, or services available through the Application, and to permit us to respond to your inquiries or requests for products and services:
</p>
<p>&bull; Device Information and Usage Information
<br />
&bull; Geolocation
</p>
<p><strong>1. DEVICE INFORMATION</strong>
</p>
<p>The Application may collect certain information automatically when you download, connect to or use the Application. Such information may include the type of mobile device you use, your mobile device&rsquo;s unique device identifier, the IP address of your mobile device, and information about the way you use the Application. GOLO GOD LOVES and/or its authorized service providers may receive such information and use it to operate and improve the Application and to deliver services and content, including push notifications. We obtain your consent before delivering push notifications to you through the Application. Information about how you interact with the Application and any of our web sites to which the Application links, such as how many times you use a specific part of the mobile application over a given time period, the amount of time you spend using the Application, how often you use the Application, actions you take in the Application and how you engage with the Application.
</p>
<p><strong>2. GEOLOCATION</strong>
</p>
<p>We obtain your consent before collecting location information. Location information enables the Application to establish the approximate location of your mobile device. GOLO GOD LOVES and/or its authorized service providers may use and store this information, in combination with other location-based information (such as IP address), to provide requested location services (e.g., identification of nearby theatres) and to deliver enhanced location based services and other content, including push notifications. You may withdraw your consent at any time to the collection of your location information and/or to receive push notifications (see &ldquo;Opt-Out Procedures&rdquo; below).
</p>
<p><strong>IN ADDITION, WE ALSO COLLECT THE FOLLOWING TO PROVIDE THE SERVICES:</strong>
</p>
<p>-Name
<br />
-Email
<br />
-Phone number
<br />
-University
<br />
-Member type
<br />
-Occupancy
<br />
-Password
<br />
-Equipment reservations
<br />
-Class reservations
<br />
-Feedback, if provided
<br />
-Usage information
</p>
<p><strong>INFORMATION COLLECTED FROM JOB APPLICANTS</strong>
</p>
<p>If you wish to apply for a job on our web site(s), we will collect Personal Information such as your name, email address, phone number and may collect additional information such as resume, gender, and your ethnicity. We use the information collected within this area of the web site(s) to determine your qualifications for the position in which you have applied and to contact you to set up an interview.
</p>
<p><strong>OUR USE OF YOUR INFORMATION</strong>
</p>
<p>As a general matter, we seek to use information collected through the Application to enhance the experience of users of our services. We (including our affiliates and authorized service providers) may use this information in a number of ways, including:
</p>
<p>&bull; To furnish you with products or services you have requested, or to send you information or otherwise contact you about GOLO GOD LOVES, or its affiliates, their products, services, advertising, upcoming events, special offers or promotions, text messages, or for other purposes disclosed when you submit your information by using the Application.
<br />
<br />
&bull; To assist us in marketing and advertising our products and services and those of other businesses.
<br />
<br />
&bull; To improve the content and functionality of the Application.
<br />
<br />
&bull; To prevent and detect fraud, infringement, and other potential misuse of the Application.
<br />
<br />
&bull; In order to provide you with products and services you have requested, we may share your information, including personally identifiable information or information we maintain on an aggregate basis, with third parties who provide services to GOLO GOD LOVES and its affiliates, such as credit card processing, customer services, order fulfillment, and/or prize delivery, as applicable.
<br />
<br />
&bull; To create aggregated and anonymized information to determine which Mobile Application features are most popular and useful to users, and for other statistical analyses.
<br />
<br />
&bull; To prevent, discover and investigate violations of this Privacy Policy
<br />
<br />
&bull; To customize the content or services on the Application for you, or the communications sent to you through the Application
<br />
<br />
&nbsp;
</p>
<p><strong>TEXT MESSAGING</strong>
</p>
<p>By opting in to receive text messages, you agree that GOLO GOD LOVES may send you marketing text or e-mail messages at that telephone number using an automatic telephone dialing system. These messages may include Short Message Service (&ldquo;SMS&rdquo;) messages.
</p>
<p><strong>CHILDREN&#39;S GUIDELINES</strong>
</p>
<p>GOLO GOD LOVES does not specifically target the Application or any of its mobile services to children under 18 years old. If you are under the age of 18, you may use the Application only with the permission and under the supervision of a parent or guardian. If a parent or guardian becomes aware that his or her child has provided us with information without their consent, he or she should contact us.
</p>
<p>Please note that the Application may contain links to content providers that collect information from children under the age of 18. We have no control over such content providers and are not responsible for the privacy practices or the content of other web sites or mobile applications. Because the Internet and mobile applications offer open access to a wide range of information, it is important that parents supervise and prevent access to inappropriate content, email or chat sessions.
</p>
<p><strong>TRACKING, DISCLOSURE AND SHARING OF INFORMATION</strong>
</p>
<p>We may disclose your Device and Physical Location:
</p>
<p>&bull; As provided in this Mobile Privacy Policy;
<br />
<br />
&bull; As required by law, such as to comply with a subpoena, or similar legal process;
<br />
<br />
&bull; When we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud or respond to a government request;
<br />
<br />
&bull; With our authorized service providers who have agreed to adhere to the rules set forth in this Mobile Privacy Policy;
<br />
<br />
&bull; If GOLO GOD LOVES is involved in a merger, acquisition or sale of all or a portion of its assets
<br />
<br />
&nbsp;
</p>
<p>We do not share information with third parties for their direct marketing purposes unless you affirmatively agree to such disclosure - typically by opting in to receive information from a third party that is participating in a sweepstakes or other promotion that we advertise through the Application or on one of our web sites. If you do not want your information to be used by a third party for direct marketing purposes (or other purposes unrelated to the uses described herein), do not opt in to such use by that third party. Please note that if you opt in to receive direct marketing from a third party, your information will be subject to that party&rsquo;s privacy policy. If you later decide that you do not want that third party to use your information, you will need to contact that third party directly. We recommend that you review the privacy policy of any party that collects your information to determine how that entity will handle your information.
</p>
<p>The Application may use third party authorized service providers to provide us with analytical data about your use of the Application. We may deploy devices, such as cookies, that enable those third parties to anonymously collect and aggregate usage data and report it back to us. Third parties that we engage to provide analytics services and to assist in providing the Application&rsquo;s tools and services cannot use your personal information for their own purposes, unrelated to the Application, without your explicit consent
</p>
<p><strong>THIRD-PARTY SITES</strong>
</p>
<p>The Application contains links to web sites and other applications that provide services related to the Application (such as payment processing services and university information websites) or that we believe you might find useful and informative. Also, the Application may utilize social networking sites that are not owned or controlled by GOLO GOD LOVES. Please be aware, however, that GOLO GOD LOVES does not endorse or recommend the content or services of such web sites or applications, and GOLO GOD LOVES is not responsible for the privacy practices or the content of these other sites. We encourage you to review the privacy policies of each web site and application you visit and use.
</p>
<p><strong>SECURITY</strong>
</p>
<p>GOLO GOD LOVES will maintain appropriate safeguards to protect against the loss, misuse, and alteration of any customer information under GOLO GOD LOVES&rsquo;s control. Please be aware that the transmission of information over wireless and wired networks is not inherently secure, and, although we endeavor to provide reasonable security measures, no security systems can prevent all potential security breaches.
</p>
<p><strong>OPT-OUT PROCEDURES</strong>
</p>
<p>You can stop all collection of information by the Application by uninstalling the Application from your mobile device. You may use the standard uninstall processes as may be available as part of your mobile device or via the mobile application marketplace or network. You can also withdraw your consent to receive &ldquo;push&rdquo; notifications and/or to the collection of your physical location information at any time by disabling or changing the related functionality or setting as provided in your mobile device.
</p>
<p><strong>POLICY MODIFICATIONS</strong>
</p>
<p>We reserve the right to change the terms of this Mobile Privacy Policy from time to time.
</p>
<p>&nbsp;
</p>
